@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 6vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-image: url('images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-color: #684BB1;
}

header {
    display: flex;
    justify-content: flex-start;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    max-width: 520px;
    min-height: 225px;
}

section h1 {
    margin-bottom: 2vh;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 60px;
    color: white;
}

section p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: white;
}

section button {
    width: 200px;
    height: 56px;
    background-color: white;
    color: #684BB1;
    border: none;
    border-radius: 30px;
    box-shadow: 9px 0px 40px -11px rgba(0, 0, 0, 0.75);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 2vh;
    transition: background-color 0.5s, color 0.5s;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95%;
}

footer img {
    width: 40px;
    height: 40px;
}

button:hover {
    color: white;
    background-color: #E880E8;
}

@media only screen and (min-width: 360px) and (max-width: 800px) {
    body {
        background-image: url('/images/bg-mobile.svg');

    }

    header img {
        width: 20vh;
        height: 5vh;
    }

    main {
        flex-direction: column;
        justify-content: space-evenly;
    }

    main img {
        max-width: 290px;
        max-height: 209px;
    }

    section {
        justify-content: center;
        align-items: center;
        max-width: 304px;
        min-height: 272px;
    }

    section h1 {
        font-size: 24px;
        line-height: 36px;
        text-align: center;

    }

    section p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

    section button {
        height: 40px;
        font-size: 12px;
    }


    footer {
        justify-content: center;
    }
}